fastapi
uvicorn
streamlit
psycopg2-binary
sqlalchemy
pydantic
yfinance
pandas
numpy
python-dotenv
tweepy
requests
transformers
torch
google-genai
google-generativeai
plotly
lightgbm
shap
pandas_datareader
scikit-learn
pyarrow